.groupContainer {
  background-color: #ffffff50;
  border-radius: 15px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.groupName {
  text-decoration: underline;
}
